{% extends 'base.html.twig' %}

{% block title %}Le Bon Chat{% endblock %}

{% block body %}
    <section class="section-main bg padding-top-sm mb-5">
        <div class="container">
            Annonce à la une
            <div class="row-sm">
                <article class="card card-product">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-sm-3">
                                <div class="img-wrap"><img src="images/announce_img/{{ premium.imageName }}"></div>
                            </aside> <!-- col.// -->
                            <article class="col-sm-6">
                                <h4 class="title">{{ premium.name }}</h4>
                                <div class="rating-wrap  mb-2">
                                    <div class="label-rating"><i class="icon-sm round border fa fa-heart"></i> 132 likes</div>
                                </div> <!-- rating-wrap.// -->
                                <p>{{ premium.description }}</p>
                                <p><b>Espece : </b> {{ premium.race }} <b>Année : </b> {{ premium.year }}<b> Ville : </b> {{ premium.city }} <b>Département : </b> {{ premium.departement }} <br>
                                    <b>Pelage : </b> {{ premium.coat }} <b> Motifs : </b> {{ premium.coatStyleColor }}<b> Couleur : </b> {{ premium.coatColor }}
                                </p>


                            </article> <!-- col.// -->

                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article>
                <aside class="col-md-4">

                    Dernieres annonces
    {% for announce in announces %}
                    <a href="{{ path('announce_details', {'id': announce.id}) }}"><div class="card mb-3">
                        <figure class="itemside">
                            <div class="aside"><div class="img-wrap border-right"><img src="images/announce_img/{{ announce.imageName }}"></div></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title">{{ announce.name }}</h6>
                                <a href="">Voir l'annonce</a>
                            </figcaption>
                        </figure>
                        </div></a> <!-- card.// -->
        {%  endfor %}

                  <a href="{{ path('announce_findall') }}" class="btn btn-primary btn-block btn-lg">Voir toutes les annonces</a>
                </aside>

                <aside  class="col-md-4">
                    Derniers articles
                    <div class="card">
                        <img class="card-img-top" src="images/chat/accueil.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Accueillir son nouveau compagnon</h5>

                            <p class="card-text"><small class="text-muted">Date de l'article</small></p>
                        </div>
                    </div>  <!-- card.// -->


                </aside>
                <aside  class="col-md-4">
                    <div style="color:transparent;">D</div>
                    <div class="card">
                        <img class="card-img-top" src="images/chat/toilette.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bien s'occuper de son chat</h5>

                            <p class="card-text"><small class="text-muted">Date de l'article</small></p>
                        </div>
                    </div>  <!-- card.// -->


                </aside>
            </div>
        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->



{% endblock %}

{% block javascripts %}


{% endblock %}