<div class="col-md-8">
<div class="card mt-5 mb-5">
    <header class="card-header ">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <button class="btn btn-primary mb-2 mt-2 pull-right"><i class="fa fa-paper-plane"> </i> {{ button_label|default('Envoyer mon Annonce') }}</button>
    </header>
    <article class="card-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col form-group">
                            {{ form_row(form.adresse) }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            {{ form_row(form.telephoneNumber) }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    {{ form_row(form.name) }}
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    {{ form_row(form.gender) }}
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    {{ form_row(form.year) }}
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    {{ form_row(form.race) }}
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    {{ form_row(form.coat) }}
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    {{ form_row(form.coatStyleColor) }}
                </div> <!-- form-group end.// --><div class="col form-group">
                    {{ form_row(form.coatColor) }}
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>

        </div>
                <div class="col-md-6 border border-warning border-top-0 border-right-0 border-bottom-0">
                    <div class="form-row">
                        <div class="col form-group">

                            {{ form_row(form.imageFile) }}

                            <div class="text-center border border-warning p-2"><img id="preview" src="{{ asset('images/catupload.png') }}" alt="" width="380px"  /></div>

                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->

                </div>
            </div>
    </article> <!-- card-body end .// -->
</div>
    {{ form_row(form.road) }}
    {{ form_row(form.streetNumber) }}
    {{ form_row(form.city) }}
    {{ form_row(form.codePostal) }}
    {{ form_row(form.departement) }}
    {{ form_row(form.region) }}
    {{ form_row(form.country) }}


{{ form_end(form) }}

</div>