{% extends 'base.html.twig' %}

{% block body %}

    <section class="section-main bg padding-top-sm">
        <div class="container">
            <div class="row ">
                <div class="col-sm-4 offset-md-4 pt-lg-5 mb-5">

                    {{ form_start(form) }}

                    <div class="card">
                        <article class="card-body">

                            <h4 class="card-title mb-4 text-center">Créer votre compte gratuit</h4>
                            <div class="text-center"><img src="{{ asset('images/cats.png') }}" width="50%"></div>
                            <p class="divider-text">
                                <span>Remplir le formulaire</span>
                            </p>
                            <form action="{{ path('user_registration') }}" method="post">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    {{ form_errors(form.fullName) }}
                                    {{ form_widget(form.fullName) }}
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    {{ form_errors(form.username) }}
                                    {{ form_widget(form.username) }}
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div> <!-- form-group// -->


                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    {{ form_errors(form.password.first) }}
                                    {{ form_widget(form.password.first) }}

                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    {{ form_errors(form.password.second) }}
                                    {{ form_widget(form.password.second) }}
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Créer un compte</button>
                                </div> <!-- form-group// -->
                                <p class="text-center textvisible">Déja un compte ? <a href="/login">Log In</a> </p>
                            </form>
                        </article>
                    </div></div></div></div></section>

    {{ form_end(form) }}
{% endblock %}